* {
    box-sizing: border-box;
    max-width: 100%;
    color: #333;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: rgb(247, 250, 253);
    font-family: 'Comfortaa';

}
nav {
    margin: 1rem 0;
    width: 90vw;
    max-width: 995px;
    
    color: #333;
}
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    background-color: aliceblue;
}
h1 {
    width: 90%;
    max-width: 1000px;
    font-size: 5rem;
    font-family: 'Rajdhani';
}
nav a {
    margin: 2rem 2rem 2rem 0px;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid #333;
    padding: 1rem;
    background-color: rgb(188, 216, 240);
    cursor: pointer;
    transition: .3s;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
.hero {
    margin-top: 2rem;
    width: 90%;
    max-width: 995px;
    display: flex;
    justify-content: space-between;
}
.hero-img {
    width: 50%;
    border: 1px solid black;
}
.hero-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}
.hero-text h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.hero-text button {
    width: 12rem;
    height: 4rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    background-color: rgb(188, 216, 240);
    border: 1px solid #333;
    cursor: pointer;
    transition: .3s;
}
.collection {
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collection div {
    margin: 1rem;
}
.collection img {
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 7px 1px rgba(0,0,0,0.32); 
    box-shadow: 4px 5px 7px 1px rgba(0,0,0,0.32);
    margin-top: 5rem;
}
footer {
    width: 100vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-top: 4rem;
}
footer button {
    width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    background-color: rgb(188, 216, 240);
    border: 1px solid #333;
    cursor: pointer;
    transition: .3s;
}
footer p {
    font-size: 2.2rem;
}

button:hover,
nav a:hover {
    background-color: rgba(194, 208, 219, 0.5);
}

@media (max-width: 977px) {
    .collection div:nth-last-child(-n+2) {
        display: none;    
    }
}

@media (max-width: 800px) {
    header {
        height: 25vh;
    }
    h1 {
        width: 100%;
        text-align: center;
    }
    nav {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .hero-img {
        width: 80%;
        margin-top: 5rem;
    }
    .hero-text {
        width: 80%;
    }
    .collection{
        justify-content: space-evenly;
    }
    .collection img {
        width: 250px;
    }
    footer{
        height: 22vh;
    }
}

@media (max-width: 500px) {
    header {
        height: 100%;
    }
    nav {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    h1 {
        margin-top: 3rem;
    }
    .collection img {
        width: 300px;
    }
}